.Button {
	button[value=general] {
		background: linear-gradient(to right, darken(#c3e3f9, 10%) 50%, #c3e3f9 50%);
		background-position: right bottom;
		background-size: 203% 100%;
		border-color: darken(#c3e3f9, 10%);
		color: darken(#c3e3f9, 50%);
	}

	button[value=income] {
		background: linear-gradient(to right, darken(#8be28b, 10%) 50%, #8be28b 50%);
		background-position: right bottom;
		background-size: 203% 100%;
		border-color: darken(#8be28b, 10%);
		color: darken(#8be28b, 50%);
	}

	button[value=outcome] {
		background: linear-gradient(to right, #ff6961 50%, lighten(#ff6961, 10%) 50%);
		background-position: right bottom;
		background-size: 203% 100%;
		border-color: darken(#ff6961, 10%);
		color: darken(#ff6961, 10%);
	}

	button {
		border-radius: 5px;
		border: 1px solid;
		font-weight: bold;
		margin-top: 15px;
		min-width: 150px;
		padding: 15px;
		transition: all .25s ease-in-out;

		&:hover {
			background-position: left bottom;
			color: white;
			cursor: pointer;
		}
	}
}
