.Popup {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;

	.InnerPopup {
		animation: slideIn .5s 1 forwards;
		background-color: white;
		border-radius: 5px;
		height: 400px;
		margin: 0 auto;
		padding-top: 50px;
		position: relative;
		top: 0;
		transform: translateY(-400px);
		width: 700px;
		p {
			bottom: 5px;
			cursor: pointer;
			position: absolute;
			right: 25px;
		}
		.Input {
			display: flex;
			span {
				font-size: 26px;
				margin-top: 11px;
			}
		}
		input[type=radio]{
			margin: 22px 0 0 0;
		}
	}
}

@keyframes slideIn {
	100% {
		transform: translateY(250px);
	}
}
