.Popup {
	height: 100%;
	width: 100%;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;

	.InnerPopup {
		height: 400px;
		width: 700px;
		background-color: white;
		border-radius: 5px;
		position: relative;
		margin: 0 auto;
		transform: translateY(-400px);
		top: 0;
		animation: slideIn .5s 1 forwards;
		padding-top: 50px;
		p {
			cursor: pointer;
			position: absolute;
			right: 25px;
			bottom: 5px;
		}
	}
}

@keyframes slideIn {
	100% {
		transform: translateY(250px);
	}
}
